:root {
  --white: #fff;
  --black: #000;
  --transparent-black: #000000d4;
  --tangerine: #ff7e1b;
  --charcoal: #1d2026;
  --steel-blue: #69707d;
  --pale-peach: #ffeee2;
  --silver-blue: #b6bcc8;
  --light-grayish-blue: #f6f8fd;
  --pale-blue: #e4e9f2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Kumbh Sans";
  font-style: normal;
  line-height: normal;
  min-height: 100%;
  position: relative;
  overflow: auto;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: var(--charcoal);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 28px 24px;
}

.hamburger-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hamburger,
.logo,
.cart,
.arrow-left,
.arrow-right,
.minus,
.plus {
  cursor: pointer;
}

.logo {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.logo:active {
  opacity: 0.5;
}
.cart-profile-image-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.profile-image img {
  width: 100%;
}

.hero-wrapper {
  position: relative;
}

.hero-image {
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.arrow-left:active,
.arrow-right:active {
  opacity: 0.5;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.product-info p,
h1 {
  margin: 0;
}

.product-info-price-wrapper .product-name {
  color: var(--tangerine);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.846px;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.product-info-price-wrapper {
  padding: 24px;
}

.product-info-price-wrapper .product-title {
  color: var(--charcoal);
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 15px;
}

.product-info-price-wrapper .product-description {
  color: var(--steel-blue);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 28px;
}

.product-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.price-discount-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.price {
  color: var(--charcoal);
  font-size: 28px;
  font-weight: 700;
}

.discount {
  color: var(--tangerine);
  font-size: 16px;
  font-weight: 700;
  padding: 7px 8px 4px 8px;
  border-radius: 6px;
  background: var(--pale-peach);
}

.product-old-price {
  color: var(--silver-blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-decoration-line: line-through;
}

.product-qty-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 10px;
  background: var(--light-grayish-blue);
  height: 56px;
}

.add-to-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  background: var(--tangerine);
  box-shadow: 0px 20px 50px -20px var(--tangerine);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.add-to-cart-wrapper:active {
  opacity: 0.5;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--charcoal);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.mobile-menu {
  display: none;
  height: 100%;
  overflow: auto;
}

.mobile-menu .overlay {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: var(--transparent-black);
}

.active {
  display: block;
}

.mobile-wrapper {
  padding: 25px;
  width: 60%;
  height: calc(100% - 50px);
  z-index: 4;
  background-color: var(--white);
  position: absolute;
}

.close-menu {
  padding-bottom: 54px;
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.close-menu img {
  width: 100%;
}

.cart-wrapper {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  width: 100%;
  height: 256px;
  z-index: 2;
}

.cart-title {
  color: var(--charcoal);
  font-size: 16px;
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid var(--pale-blue);
}

.no-products {
  color: var(--steel-blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.product-img {
  width: 50px;
}

.product-img img {
  border-radius: 4px;
  width: 100%;
}

.product-in-cart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 24px;
}

.product-price-qty-total-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-content {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prod-checkout-btn {
  text-align: center;
}

.cart {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.cart:active {
  opacity: 0.5;
}
.checkout-btn {
  width: 100%;
  border-radius: 10px;
  background: var(--tangerine);
  height: 56px;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.checkout-btn:active {
  opacity: 0.5;
}

.product-info-wrapper {
  color: var(--steel-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.prod-total-price {
  color: var(--charcoal);
  font-weight: 700;
}

.delete-prod {
  width: 20px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.delete-prod:active {
  opacity: 0.5;
}

.delete-prod img {
  width: 100%;
}

.cart-product-number {
  border-radius: 6.5px;
  text-align: center;
  width: 19px;
  height: 13px;
  background: var(--tangerine);
  position: absolute;
  top: 15px;
  right: 65px;
}

.prod-nr {
  color: var(--white);
  font-size: 10px;
  font-weight: 700;
}

.minus,
.plus {
  width: 56px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.minus:active,
.plus:active {
  opacity: 0.5;
}

.product-cart-wrapper {
  margin-top: 20px;
  padding: 0 24px;
  width: 100%;
}
.slider-image.active {
  display: block;
}

.slider-image {
  display: none;
}
.hero-product-info-wrapper {
  display: flex;
  flex-direction: column;
}
.desktop-navbar {
  display: none;
}

.hero-wrapper {
  max-width: none;
}

.preview-images-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .hero-product-info-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 90px 45px;
    border-top: 2px solid var(--pale-blue);
  }

  .hero-image {
    max-height: none;
    border-radius: 20px;
  }

  .preview-image {
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
  }

  .preview-image img {
    width: 100%;
  }

  .preview-images-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
  }

  .main-hero-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}

@media (min-width: 992px) {
  .preview-image {
    width: 75px;
  }
  .hero-product-info-wrapper {
    gap: 60px;
  }
}

@media (min-width: 1200px) {
  .preview-image {
    width: 100px;
  }
  .main-container {
    padding: 0 165px;
  }
  .hamburger {
    display: none;
  }
  .desktop-navbar {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .hamburger-logo-wrapper {
    gap: 35px;
  }
  .nav-bar {
    padding: 0;
  }
  .desktop-navbar .btn {
    padding: 50px 0;
    color: var(--steel-blue);
    transition: color 0.5s ease;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: border-color 0.5s ease;
  }

  .desktop-navbar .btn:hover {
    border-color: var(--tangerine);
    color: var(--charcoal);
  }
  .profile-image {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    transition: border-color 0.5s ease;
    cursor: pointer;
  }
  .profile-image:hover {
    border-color: var(--tangerine);
  }

  .hero-wrapper {
    max-width: 600px;
  }

  .hero-wrapper .hero-image {
    max-height: none;
    border-radius: 20px;
  }
  .product-info-price-wrapper .product-title {
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
  }
  .product-info .product-description {
    line-height: 30px;
  }
  .product-info-price-wrapper {
    padding: 0;
    max-width: 465px;
    min-width: 465px;
  }
  .cart-product-number {
    top: 42px;
    right: 235px;
  }
  .product-price-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .quantity-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .product-qty-wrapper {
    margin-bottom: 0;
    min-width: 156px;
  }
  .cart-wrapper {
    max-width: 360px;
    right: 60px;
    left: auto;
  }
}
